@import "theme/theme_variables"; // <--------- Add your variables into this file. Also add variables to overwrite Bootstrap variables here

body {
  background: $primary-color;
  color: #fff;
}

header {
  height: 75px;

  .brand-logo {
    padding: 10px 0;

    img {
      height: 50px;
      width: auto;
    }
  }
}

.nav-link {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fff;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  header {
    height: 150px;

    .brand-logo {
      padding: 30px;

      img {
        height: 90px;
      }
    }
  }

  #navbarNavDropdown{
    display:flex;
    justify-content: center;
  }

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
